{
    "presets": [
        "env",
        "stage-1"
    ],
    "plugins": [
        "transform-react-jsx",
        "transform-object-rest-spread"
    ],
    "env": {
        "test": {
            "presets": [
                "env",
                "stage-1"
            ],
            "plugins": [
                "transform-react-jsx",
                "transform-object-rest-spread"
            ]
        },
        "server": {
            "plugins": [
                [
                    "css-modules-transform",
                    {
                        "preprocessCss": "./loaders/sass-loader.js",
                        "generateScopedName": "[name]__[local]___[hash:base64:5]",
                        "extensions": [
                            ".scss"
                        ]
                    }
                ]
            ]
        }
    }
}