.movie {
    float: left;
    height: 400px;
    padding-left: 5%;
    width: 250px;
}

.movie__genre {
    color: #A9A9A9;
    font-size: small;
    height: 18px;  
    width: 250px;
}

.movie__image {
    height: 340px;
    width: 250px;
}

.movie__title {
    color: #000000;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 18px;
    overflow: hidden;
    text-transform: uppercase;
    width: 180px;
}

.movie__release-date {
    float: right;
    font-size: small;
    height: 12px;
    text-align: center;
    width: 50px;
}