.search-filter__header {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    font-size: large;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    text-transform: uppercase;
}