.search_filter {
    float: left;

    &__header {
        color: #FFFFFF;
        float: left;
        font-weight: bold;
        font-size: large;
        height: 25px;
        line-height: 25px;
        margin-right: 10px;
        text-transform: uppercase;
    }
    
    &__button {
        background-color: #696969;
        border: none;
        color: #FFFFFF;
        font-weight: bold;
        height: 25px;
        margin-right: 10px;
        text-transform: uppercase;
    }
    
    &__button_active {
        background-color: #FE2E64 !important;
    }
}