.movie-details {
    background-image:linear-gradient(rgba(16, 0, 0, 0.70), rgba(16, 0, 0, 0.70)),url(./movie-details.jpg);
    flex: 0 0 auto;
    height: 400px;
    padding-left: 3%;
    padding-top: 15px;
}