.movie-details {
    background-image:linear-gradient(rgba(16, 0, 0, 0.70), rgba(16, 0, 0, 0.70)),url(./movie-details.jpg);
    flex: 0 0 auto;
    height: 400px;
    padding-left: 3%;
    padding-top: 15px;
}

.movie-details__description {
    color: #A9A9A9;
    font-size: medium;
    height: 110px;
    margin-top: 50px;
    width: 90%;
}

.movie-details__director {
    color: #A9A9A9;
    font-size: small;
    margin-bottom: 10px;
}

.movie-details__duration {
    color: #FFFFFF;
    float: left;
    font-size: small;
    font-weight: bold;
}

.movie-details__cast {
    color: #A9A9A9;
    font-size: small;
    margin-bottom: 10px;
    width: 90%;
}

.movie-details__genre {
    color: #A9A9A9;
    font-size: medium;
    margin-bottom: 10px;
    margin-top: 5px;
}

.movie-details__image {
    float: left;
    height: 320px;
    margin-right: 80px;
    margin-top: 30px;
    width: 230px;
}

.movie-details__title {
    color: #FE2E64;
    float: left;
    margin-bottom: 5px !important;
    margin-top: 50px;
}

.movie-details__rating {
    background-color: transparent;
    border: 2px solid #008000;
    border-radius: 20px;
    color: #008000;
    font-size: medium;
    font-weight: bold;
    height: 40px; 
    margin-top: 45px;
    margin-left: 10px;
    text-align: center;
    outline: none;
    width: 40px; 
}

.movie-details__release-date {
    color: #FFFFFF;
    float: left;
    font-size: small;
    font-weight: bold;
    margin-right: 20px;
}

.search-button {
    background-color: #FFFFFF;
    border: none;
    color: #FE2E64;
    font-size: medium;
    font-weight: bold;
    height: 30px;
    margin-left: 67%;
    text-transform: uppercase;
    width: 150px;
} :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}


