.results_filter {
    float: right;
    margin-right: 11%;

    &__header {
        color: #000000;
        float: left;
        font-weight: bold;
        padding-right: 10px; 
    }
    
    &__link {
        color: #000000;
        font-weight: bold;
        padding-right: 10px;
        text-decoration: none;
    } :visited, :active {
        color: #000000;
    }
    
    &__link_active {
        color: #FE2E64 !important;
    }    
}