.movie {
    display:inline-block;
    height: auto;
    margin-bottom: 10px;
    margin-left: 4%;
    vertical-align:top;
    width: 250px;

    &__genre {
        color: #A9A9A9;
        font-size: small;
        height: 18px;  
        width: 250px;
    }
    
    &__image {
        height: 340px;
        width: 250px;
    }
    
    &__title {
        color: #000000;
        float: left;
        font-size: 15px;
        font-weight: bold;
        height: auto;
        text-transform: uppercase;
        width: 180px;
    }
    
    &__release_date {
        float: right;
        font-size: small;
        height: 12px;
        text-align: center;
        width: 50px;
    }
}
